[Unit]
Description=PiBalloon5 LoRa TX service
After=syslog.target gpsd.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/piballoon
ExecStart=/home/pi/piballoon/.venv/bin/python /home/pi/piballoon/lora_tx.py --serve-in-foreground
Restart=always

[Install]
WantedBy=multi-user.target
